<config>
  <mut>0.2</mut>
  <cx>0.8</cx>
  <copyUrl>http://localhost:8080</copyUrl>
  <import>operator</import>
  <evalUrl>http://localhost:8844</evalUrl>
  <args>{'y': [0, 1, -5, 12, 100, -3.0, -2, 45.1], 'x': [0, 1, -5, 12, 100, -3.0, -2, 45.1], 'z': [0, 1, -5, 12, 100, -3.0, -2, 45.1]}</args>
  <gen>1000</gen>
  <pop></pop>
</config>
